body {
    font-family: "Cabin", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #6a6d72;
    flex-direction: column;
    align-items: center;

}

header {
    background-color: #282c34;
    width: 100%;
    color: rgb(161, 216, 226);
    font-family:"Playwrite IS", cursive;
    text-align: center;
    padding: 1em 0;
}

img {
    border-radius: 120px;
} 

select{
    border-radius: 5px;

}


main {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    gap: 2em;
    padding: 2em;
    float: right;
}

p {
    flex-direction: column;
    background-color: #d7e6bd;
    align-items: center;
   
    gap: 8em;
    padding: 2em;
    border-radius: 80px;
 
}

section {
    border: 1px solid #7b9187;
    background-color: #d6d6d5;
    padding: 1em;
    
    width: 50%;
    text-align: center;
    border-radius: 80px;
    justify-content: center
}


ul{
    justify-content: right;
    text-align: left;

    }
    

button {
    margin: 0.5em;
    
    border-radius: 5px;
    
}



